.video-container
  %video{:autoplay => "", :loop => "", :muted => "", :playsinline => "", :src => "https://media.istockphoto.com/videos/timelapse-of-fukuoka-city-video-id699401636"}
  .video-sidebar
    %h1 
    %p This video is sample.
