.wapper
  .title
    %video.Hero__video{:autoplay => "", "data-object-fit" => "cover", :loop => "", :muted => "", :playsinline => "", :src => "https://media.istockphoto.com/videos/landscape-of-fukuoka-city-video-id1140504494", "webkit-playsinline" => ""}
    .Hero__inner
      .box17
        .rogo
          .rogo_t
            .rogo_title Fukuoka Naiv
            %a.btn-vertical-border{:href => "= link_to new_group_path"} Enter
            